* {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: antiquewhite;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: black;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */

.navbar.active {
    background: #317302;
    box-shadow: 1px 2px 10px rgba(242, 239, 239, 0.1);
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: brown;
    text-decoration: none;
}

.container {
    margin-top: 30px;
    text-align: center;
}

.idealizadora {
    margin-top: 30px;
}


/*WhatsApp*/

.whatsApp img {
    bottom: 90px;
    height: 35px;
    position: fixed;
    right: 30px;
    width: 35px;
}

footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
}

footer img {
    display: flex;
    flex-direction: row;
    height: 50px;
}

.section3 {
    background-color: #37a603;
    color: white;
    height: 60px;
}

.section3 p {
    margin-bottom: 5px;
}