*{
    font-family:'Roboto', sans-serif;
    font-size: 1.0em;
}
.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: antiquewhite;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: black;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #317302;
    box-shadow: 1px 2px 10px rgba(242, 239, 239, 0.1);
}

/* .navbar.active .nav-link {
    color: ;
} */

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color:brown;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #fff;
}

header h1{
    border-radius: 50px;
    margin-right: 50px;
}

.main{
    height: 1500px;
}

.wrap {
    /*Ajuste a largura e altura do vídeo*/
    width: 100%;
    height: 46vw;
    /*o elemento video e o .container se adaptarem ao .wrap*/
    position: relative;
}

.wrap > .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /*apenas um -1 é necessário quando se trabalha com relative + absolute, sendo pai e filho*/
    width: 100%;
    height: 100%;
    overflow: hidden; /* evita do video passar a altura desejada do .wrap */
}
.wrap > .bg-video > video {
    width: 100%;
}

 /*WhatsApp*/
 .whatsApp img{
    bottom: 90px; 
    height: 35px; 
    position: fixed;
    right: 30px;
    width: 35px;
    z-index: 999;
 }
  


.section3{
    background-color: #37a603;
    color: white;
    height: 60px;  
}

.section3 p{
    margin-bottom: 5px;
}

.navbar-cor{
    background-color: #37a603;
    color: white;
}


/*Página Nutrição_Plantas*/
.navbar-cor{
    background-color: #37a603;
    transition: all 0.4s;
}

.nutricao1{
    background-color: white;
    /* height: 600px; */
    margin-top: 70px;
}

.nutricao1 div{
    margin-top: 10px;
}


.figure img{
    height: 200px;
    width: 100%;
}

/* .img2{
    height: 100px;
    width: 100px;
} */


